@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  /* use modern unit, instead of pexels bcoz pixels hardly uses krta hai koi */
  font-size: 62.5%; /*1rem = 10px  by default nahi toh 16px hota tha */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.header {
  /* border: 1px solid greenyellow; */
  height: 10rem;
  padding: 0 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7f5ff;
}

.header > a {
  text-decoration: none;
}

.header h2 {
  font-size: 2.4rem;
}

.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link {
  text-decoration: none;
}

.navbar-link:link,
.navbar-link:visited {
  /* note - ye jo link hai, pseudo class ttbhi work krta hai, jb a tag
  me href attribute present hoti hai */

  display: inline-block; /*bco taki hum padding width de paaye, bydefault inline hote 
                          h */

  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #364fc7;
}

/* HAMBURGER LOGIC */
.mobile-navbar-btn {
  /* bcoz bydefault bdi screen me dikhana nahi h */
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 2rem;
  height: 2rem;
}

.closeBtn.mobile-nav-icon {
  /* extra class di hai, taki close wale ko bydefault hide krde, jb click kre
  tb visible ho */
  display: none;
}

/* ------------------------------------------------------------------ */
/*            MAKING RESPONSIVE IN MOBILE FOR HAMBURGER               */
/* ------------------------------------------------------------------ */

@media all and (max-width: 62em) {
  /*1em = 16px and  1rem = 16px  */
  /* how much 980px in em */
  /* 980 / 16 = 61.25em */
  /* (max-width: 980px) */

  /* Mostly try to use rem , em in responsive, percentage,vw,vh for width and height */

  .mobile-navbar-btn {
    display: block;
    /* 1st hmko icon dikhana hai sirf, so ye kra sbse pehle */

    z-index: 999;
    /* z index high bcoz button toh dikhana hi hai */

    border: 1px solid #212529;
    /* note - border ke liye fixed unit le skte hai, bcoz border ka itna reflect nai 
    aaygea */

    color: #212529;
  }

  /* ADJUST LOGO HEIGHT */

  .header {
    position: relative;
  }

  .navbar {
    /* display: none; */
    /* Note -> hum display none nahi kar skte bcoz ANIMATION NAHI MILEGA
    ----NOTE--- Jbhi display property use kri humne or udr hi Animation add kri, 
    to hua nai, jo frustration hai, bcoz Animation display ke sth kaam nahi krta */

    /* Menu icon 1 ke niche 1 chaiye, toh width and height denge 
    agr height pura complete dikana hai toh "Vh" dena pdhega */
    width: 100%;
    height: 100vh;
    background-color: #e7f5ff;
    /* border: 1px solid orangered; */
    position: absolute;
    /*sirf absolute dene se complete jagah lelega, jisme navbar bhi hai 
    so absolute: means kiske absolute, Headr ke, 
    so jo iska parent hai usko : position relative dedege */
    top: 0;
    left: 0;

    /* Ab sare links show hojege, toh humko 1 row me chaiye  */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; - ye kaam nahi kregi bcoz ye khud parent hai,
     or iske andr sirf 1 child hai ie ul, so ul ko property denge */

    /* to get the transition:  ; */
    transform: translateX(100%);
    transition: all 0.5s linear;

    /* to hide the menu, jese hmne display: none kra tha menu ko same voi effect
     krenge hum 
     */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .active.navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
